@import "tailwindcss";

@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }
  body * {
    visibility: hidden !important;
  }
  #printable-chart, #printable-chart * {
    visibility: visible !important;
  }
  #printable-chart {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white !important;
  }
  .no-print {
    display: none !important;
  }
}
